.element__like {
  /* background-image: url("../../../images/Vector.svg"); */
  background-repeat: no-repeat;
  cursor: pointer;
  background-size: contain;
  
  width: 22px;
  height: 19px;
  
  padding: 0;
}

.element__like:hover {
  opacity: 0.5;
}

.element__like:active {
  opacity: 1;
  background-image: url("../../../images/ЛайкЧёрный.svg");
}