.popup__input-error {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  visibility: hidden;
  position: absolute;
  margin-top: -30px;
  color: #FF0000;

}

.popup__input-error_visible {
  visibility: visible;
}