.popup__description {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  border: 0;

  width: 100%;
  color: #000000;
  border-bottom: 1px solid #545454;

  padding: 0;
  margin: 30px 36px 13px 36px;
}

@media screen and (max-width: 320px) {
  .popup__description {
    width: 238px;
    margin: 30px 22px 13px 22px;
  }
}