.profile__name {
  font-family: 'Inter', 'Areal', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  height: 1.14;
  
  width: 294px;
  line-height: 39px;
  
  color: #FFFFFF;
  
  margin: 0 0 16px 0;
}
  
@media screen and (max-width: 1210px) {
  .profile__name {
    font-size: 35px;
  }
}
  
@media screen and (max-width: 320px) {
  .profile__name {
    font-weight: 500;
    font-size: 27px;
    line-height: 1.22;

    margin: 0 0 14px 0;
  }
}
  