.button__form-close {
  position: absolute;
  margin: 0 385px 533px 438px;
}

@media screen and (max-width: 320px) {
  .button__form-close {
    width: 20px;
    height: 20px;
    
    margin: 0 19px;
  }
}