.profile__info {
  display: flex;
  flex-wrap: wrap;
  width: 336px;
  min-height: 73px;
  
  margin-right: auto;
}
  
  
@media screen and (max-width: 698px) {
  .profile__info {
    justify-content: center;
    margin: 22.25px auto 0;
  }
}

  
@media screen and (max-width: 320px) {
  .profile__info {
    margin: 26px auto 0;
  }
}
  
  