.element {
  border-radius: 10px;
  overflow: hidden;
  
  max-width: 282px;

  background-color: #FFFFFF;
  color: #000000;
}
    
@media screen and (max-width: 500px) {
  .element {
    margin: auto;
  }
}